.div {
    height: 5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.home {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

.scrolledHome {
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    width: 100%;
}

.services, .contact {
    background-color: white;
    border-bottom: #343434 solid 2.5px;
}

.content {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    height: 3rem;
}

h1 img {
    height: 100%;
}

.nav {
    margin-left: auto;
}
